@section scripts {
    @Scripts.Render("~/Bundles/Home/Index")
}
<div class="Dashboard">
    <h3>Dashboard</h3>
    <div class="eLink-Status row">
        <div class="text-center">
            @*<button class="btn btn-success" data-bind="css:kocStyle, click:koeStartService"><span class="glyphicon glyphicon-play text-right" style="margin-right:10px;"></span>Start Service</button>*@
        </div>
    </div>
</div>
